In [85]:
import pandas as pd
import os

# Crawl Data using APIFY API

In [86]:
# from apify_client import ApifyClient
# import json

# # Initialize the ApifyClient with your API token
# client = ApifyClient("apify_api_5nDuK1iAzq0ieU8MqqSrI0aeT6i1Er1OW4no")

# def crawl_data(input_url):
#     data_list = []
#     # Prepare the actor input
#     run_input = {
#         "productUrls": [{ "url": input_url }],
#         #"maxReviews": 1000,
#         "proxyConfiguration": { "useApifyProxy": True },
#         "extendedOutputFunction": "($) => { return {} }",
#     }

#     # Run the actor and wait for it to finish
#     run = client.actor("lhotanok/amazon-reviews-scraper").call(run_input=run_input)

#     # Fetch and print actor results from the run's dataset (if there are any)
#     for item in client.dataset(run["defaultDatasetId"]).iterate_items():
#         #print(item)
#         data_list.append(item)
#     return data_list

## Helper Functions

In [87]:
def add_column(data, category_name):
    if category_name is not None:
        category = category_name
        category_list = [category]*len(data)
        data['category'] = category_list
    
    return data

def check_remove_duplicates(new_data):
    has_duplicate = new_data.duplicated(subset=['reviewDescription']).any()
    if has_duplicate:
        new_data.drop_duplicates(subset=['reviewDescription'], inplace=True)
        
    return new_data
    
def visualize_duplicates(data):
    duplicates = data[data.duplicated(['reviewDescription'])]
    print("Visualizing " + str(len(duplicates)) + " duplicate reviews:")

    return duplicates

def save_to_json(data, json_filename, category_name, export):
    new_data = add_column(data, category_name)

    if export:
        new_data.to_json(json_filename + "_preprocessed.csv")
    
    return new_data

def save_to_csv(data, csv_filename, category_name, export):
    new_data = add_column(data, category_name)
    
    if export:
        new_data.to_csv(csv_filename + "_preprocessed.csv", index=False)
    
    return new_data

# Import Crawled local .csv files (Local)

In [88]:
# Import configuration
dir_path = r'/Users/bryson/Documents/bryson/NTU/modules/CZ4045_NLP/books'

books_csv_file_names = []
for path in os.listdir(dir_path):
    # check if current path is a file
    if os.path.isfile(os.path.join(dir_path, path)):
        print(path)
        books_csv_file_names.append(path)

1984.csv
Will-Smith.csv
I-Love-You-to-the-Moon-and-Back.csv
Burn-After-Writing-Pink.csv
Fahrenheit-451.csv
Percy-Jackson-and-the-Olympians-5-Book.csv
Let-That-Shit-Go.csv
Im-Glad-My-Mom-Died.csv
Animal-Farm-75th-Anniversary-Edition.csv
Dungeon-Dragons-Core-Rulebook.csv
Brown-Bear-Brown-Bear-What-Do-You-See.csv
The-Wonderful-Things-You-Will-Be.csv
The-Outsiders-40th-Anniversary-edition.csv
The-Very-Hungry-Caterpillar.csv
The-Storyteller-Tales-of-Life-and-Music.csv
Our-Class-is-a-Family.csv
Big-Preschool-Workbook.csv
My-First-Library.csv
Born-a-Crime-Stories-from-a-South-African-Childhood.csv
It-Ends-With-Us-A-Novel.csv
My-First-Learn-to-Write-Workbook.csv
Little-Blue-Trucks-Halloween.csv

## Export Settings and Summary Tools

In [89]:
# Summary and export settings
reviews_crawled = 0
export_to_csv = False
final_df_list = []
column_format = ["productAsin", "ratingScore", "reviewTitle",
                 "reviewReaction", "reviewDescription", "isVerified", "category"]

## Crawling from 1984 (Humor & Entertainment Book)

In [90]:
file_name = "1984"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "humor_entertainment")
final_df_list.append(book_reviews_df[column_format])

## Crawling from Animal-Farm-75th-Anniversary-Edition (Humor & Entertainment Book)

In [91]:
file_name = "Animal-Farm-75th-Anniversary-Edition"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "humor_entertainment")
final_df_list.append(book_reviews_df[column_format])

## Crawling from Born-a-Crime-Stories-from-a-South-African-Childhood (Humor & Entertainment Book)

In [92]:
file_name = "Born-a-Crime-Stories-from-a-South-African-Childhood"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "humor_entertainment")
final_df_list.append(book_reviews_df[column_format])

## Crawling from Burn-After-Writing-Pink (Humor & Entertainment Book)

In [93]:
file_name = "Burn-After-Writing-Pink"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "humor_entertainment")
final_df_list.append(book_reviews_df[column_format])

## Crawling from Dungeon-Dragons-Core-Rulebook (Humor & Entertainment Book)

In [94]:
file_name = "Dungeon-Dragons-Core-Rulebook"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "children")
final_df_list.append(book_reviews_df[column_format])

## Crawling from Fahrenheit-451 (Humor & Entertainment Book)

In [95]:
file_name = "Fahrenheit-451"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "humor_entertainment")
final_df_list.append(book_reviews_df[column_format])

## Crawling from Im-Glad-My-Mom-Died (Humor & Entertainment Book)

In [96]:
file_name = "Im-Glad-My-Mom-Died"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "humor_entertainment")
final_df_list.append(book_reviews_df[column_format])

## Crawling from It-Ends-With-Us-A-Novel (Humor & Entertainment Book)

In [97]:
file_name = "It-Ends-With-Us-A-Novel"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "humor_entertainment")
final_df_list.append(book_reviews_df[column_format])

## Crawling from Let-That-Shit-Go (Humor & Entertainment Book)

In [98]:
file_name = "Let-That-Shit-Go"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "humor_entertainment")
final_df_list.append(book_reviews_df[column_format])

## Crawling from The-Storyteller-Tales-of-Life-and-Music (Humor & Entertainment Book)

In [99]:
file_name = "The-Storyteller-Tales-of-Life-and-Music"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "humor_entertainment")
final_df_list.append(book_reviews_df[column_format])

## Crawling from Will-Smith (Humor & Entertainment Book)

In [100]:
file_name = "Will-Smith"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "humor_entertainment")
final_df_list.append(book_reviews_df[column_format])

## Crawling from The-Wonderful-Things-You-Will-Be (Children's Book)

In [101]:
file_name = "The-Wonderful-Things-You-Will-Be"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "children")
final_df_list.append(book_reviews_df[column_format])

## Crawling from The-Very-Hungry-Caterpillar (Children's Book)

In [102]:
file_name = "The-Very-Hungry-Caterpillar"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "children")
final_df_list.append(book_reviews_df[column_format])

## Crawling from The-Outsiders-40th-Anniversary-edition (Children's Book)

In [103]:
file_name = "The-Outsiders-40th-Anniversary-edition"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "children")
final_df_list.append(book_reviews_df[column_format])

## Crawling from Our-Class-is-a-Family (Children's Book)

In [104]:
file_name = "Our-Class-is-a-Family"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "children")
final_df_list.append(book_reviews_df[column_format])

## Crawling from My-First-Library (Children's Book)

In [105]:
file_name = "My-First-Library"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "children")
final_df_list.append(book_reviews_df[column_format])

## Crawling from My-First-Learn-to-Write-Workbook (Children's Book)

In [106]:
file_name = "My-First-Learn-to-Write-Workbook"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "children")
final_df_list.append(book_reviews_df[column_format])

## Crawling from Little-Blue-Trucks-Halloween (Children's Book)

In [107]:
file_name = "Little-Blue-Trucks-Halloween"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "children")
final_df_list.append(book_reviews_df[column_format])

## Crawling from I-Love-You-to-the-Moon-and-Back (Children's Book)

In [108]:
file_name = "I-Love-You-to-the-Moon-and-Back"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "children")
final_df_list.append(book_reviews_df[column_format])

## Crawling from Percy-Jackson-and-the-Olympians-5-Book (Children's Book)

In [109]:
file_name = "Percy-Jackson-and-the-Olympians-5-Book"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "children")
final_df_list.append(book_reviews_df[column_format])

## Crawling from Brown-Bear-Brown-Bear-What-Do-You-See (Children's Book)

In [110]:
file_name = "Brown-Bear-Brown-Bear-What-Do-You-See"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "children")
final_df_list.append(book_reviews_df[column_format])

## Crawling from Big-Preschool-Workbook (Children's Book)

In [111]:
file_name = "Big-Preschool-Workbook"
file_extension = ".csv"
book_reviews_df = pd.read_csv(dir_path + '/' + file_name + file_extension)

reviews_crawled += len(book_reviews_df)
book_reviews_df = add_column(book_reviews_df, "children")
final_df_list.append(book_reviews_df[column_format])

# Concatenate datas and remove duplicates

In [112]:
final_df_list_concatenated = pd.concat(final_df_list, ignore_index = True)
duplicates = visualize_duplicates(final_df_list_concatenated)

duplicates = duplicates.sort_values(by='reviewDescription')
duplicates

Visualizing 1776 duplicate reviews:

,productAsin,ratingScore,reviewTitle,reviewReaction,reviewDescription,isVerified,category
30,451524934,5,"9/11 false flag, Moon Landing hoax, JFK coup d...",12 people found this helpful,""" ' How is the dictionary getting on?' Said Wi...",True,humor_entertainment
270,451524934,5,"9/11 false flag, Moon Landing hoax, JFK coup d...",12 people found this helpful,""" ' How is the dictionary getting on?' Said Wi...",True,humor_entertainment
280,451524934,5,"9/11 false flag, Moon Landing hoax, JFK coup d...",12 people found this helpful,""" ' How is the dictionary getting on?' Said Wi...",True,humor_entertainment
290,451524934,5,"9/11 false flag, Moon Landing hoax, JFK coup d...",12 people found this helpful,""" ' How is the dictionary getting on?' Said Wi...",True,humor_entertainment
120,451524934,5,"9/11 false flag, Moon Landing hoax, JFK coup d...",12 people found this helpful,""" ' How is the dictionary getting on?' Said Wi...",True,humor_entertainment
...,...,...,...,...,...,...,...
10359,141501596,5,Great classic,NaN,NaN,True,children
10364,141501596,5,Loved brown bear 🐻 brown bear 🐻 !,NaN,NaN,True,children
10429,141501596,5,Great classic,NaN,NaN,True,children
10479,141501596,5,Great classic,NaN,NaN,True,children
10718,887431453,5,Learning is loving…,NaN,NaN,True,children

In [113]:
final_df_list_concatenated = check_remove_duplicates(final_df_list_concatenated)
save_to_csv(final_df_list_concatenated, "concatenated_duplicates_removed", None, False)

final_df_list_concatenated

,productAsin,ratingScore,reviewTitle,reviewReaction,reviewDescription,isVerified,category
0,451524934,5,"9/11 false flag, Moon Landing hoax, JFK coup d...",12 people found this helpful,""" ' How is the dictionary getting on?' Said Wi...",True,humor_entertainment
1,451524934,5,Still a “Must read” for anyone’s booklist,NaN,"Not a happy or fun read, but still a must beca...",True,humor_entertainment
2,451524934,5,A book that expresses rebellion & individualism,10 people found this helpful,"“Books like Orwell’s are powerful warnings, an...",True,humor_entertainment
3,451524934,5,Second greatest book ever written?,11 people found this helpful,"In short, Mr. Orwell (Blair) was a genius ahea...",True,humor_entertainment
4,451524934,5,Everyone should read this book.,NaN,Wow… read this in high school and just reread ...,True,humor_entertainment
...,...,...,...,...,...,...,...
11005,887431453,4,Great starter book for small toddler my 3yo lo...,NaN,My 3yr old love her learning book so many trac...,True,children
11006,887431453,4,Too easy for 4 years old,NaN,"I like this brand's workbooks, I have been buy...",True,children
11007,887431453,5,Fantastic book,NaN,All my kids had this book from the 16 year old...,True,children
11008,887431453,5,"Does your child love to ""connect the dots"" - s...",NaN,"My daughter requested some ""preschool workbook...",True,children
11009,887431453,3,One activity,NaN,I was disappointed that all the activities hav...,True,children

In [114]:
words = 0
for review in final_df_list_concatenated["reviewDescription"]:
    words += len(str(review).split())

# Crawled Data Summary

In [115]:
duplicates_removed = reviews_crawled - len(final_df_list_concatenated)

print('Number of crawled reviews: ' + str(reviews_crawled))
print('Number of removed duplicate reviews: ' + str(duplicates_removed))
print('Number of unique reviews: ' + str(len(final_df_list_concatenated)))
print('Number of words: ' + str(words))

Number of crawled reviews: 11010
Number of removed duplicate reviews: 1776
Number of unique reviews: 9234
Number of words: 536941