In [2]:
import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
from nltk.corpus import wordnet as wn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import model_selection, naive_bayes, svm
from sklearn.metrics import accuracy_score

In [17]:
np.random.seed(42)

In [ ]:
# import data, check duplicates

In [28]:
train_df= pd.read_csv("train_data_polarity.csv", index_col=0)
print(train_df.shape)
train_df.drop_duplicates(inplace=True, ignore_index=True)
print(train_df.shape)
train_df.head()

(14595, 8)
(14595, 8)

,productAsin,ratingScore,reviewTitle,reviewReaction,reviewDescription,isVerified,category,Polarity
0,451524934,4,Clear why this is a classic,One person found this helpful,A remarkable book. I sometimes hesitate to rea...,True,humor_entertainment,1
1,670062510,5,Read it. It's worth it.,NaN,All of my kids had to read this and watch the ...,True,children,1
2,1542046599,5,DEFINITELY read this,NaN,I am a big fan of books from each characters v...,True,mystery,1
3,1542046599,1,This Book Is Awful,One person found this helpful,"The story was convoluted, repetitive and borin...",True,mystery,-1
4,399587683,5,This story was too cute!!!,NaN,"I think I loved this book as much as ""The Wedd...",True,romance,1

In [29]:
val_df = pd.read_csv("validation_data_polarity.csv", index_col=0)
print(val_df.shape)
val_df.drop_duplicates(inplace=True, ignore_index=True)
print(val_df.shape)
val_df.head()

(1824, 8)
(1824, 8)

,productAsin,ratingScore,reviewTitle,reviewReaction,reviewDescription,isVerified,category,Polarity
0,399226907,5,Classic book,NaN,"A classic book to teach kids some food, number...",True,children,1
1,1542046599,4,"This one definitely kept my interest, and kept...",NaN,"This one definitely kept my interest, and kept...",True,mystery,1
2,1542046599,4,Good read!,NaN,Great story! Interesting how it all comes toge...,True,mystery,1
3,9387779262,4,Fast delivery,2 people found this helpful,"Fast delivery. I would love to give 5 star, ho...",True,children,1
4,63076098,5,Amazing stories from a great person,3 people found this helpful,Been a fan for many years and still Dave has t...,True,humor_entertainment,1

In [30]:
test_df = pd.read_csv("test_annotated.csv", index_col=0)
print(test_df.shape)
test_df.drop_duplicates(inplace=True, ignore_index=True)
print(test_df.shape)
test_df.head()

(1825, 10)
(1825, 10)

,productAsin,ratingScore,reviewTitle,reviewReaction,reviewDescription,isVerified,category,Annotator_1,Annotator_2,Annotator_3
0,670062510,4,Good item,NaN,Good item,True,children,1.0,1.0,1.0
1,1484707230,5,Great Series ????,NaN,Absolutely wonderful book series! I ordered th...,True,children,1.0,1.0,1.0
2,1542046599,5,Engaging Story,NaN,Before You Go is an engaging read with a weave...,True,mystery,1.0,1.0,1.0
3,1589255518,5,Reading is fundamental,NaN,My grandson loves this story,True,children,1.0,1.0,1.0
4,385376715,5,perfect gift for my new grand-baby!,11 people found this helpful,"Beautifully illustrated, with healthy & empowe...",True,children,1.0,1.0,1.0

In [31]:
# combining train and val
negative_reviews = data[data["polarity"] == -1]
neutral_reviews = data[data["polarity"] == 0]
positive_reviews = data[data["polarity"] == 1]

print(len(negative_reviews))
print(len(neutral_reviews))
print(len(positive_reviews))

NameError: name 'data' is not defined

In [39]:
df_train = train_df.append(val_df, ignore_index=True)
df_train.shape

(16419, 8)

In [43]:
negative_reviews = df_train[df_train["Polarity"] == -1]
neutral_reviews = df_train[df_train["Polarity"] == 0]
positive_reviews = df_train[df_train["Polarity"] == 1]
print(negative_reviews.shape)
print(neutral_reviews.shape)
print(positive_reviews.shape)

(759, 8)
(994, 8)
(14666, 8)

# to balance the 3 classes:
neutral = opinionated = 50%

pos = negative = 25%